@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

*{
	padding: 0;
	margin: 0;
}

*, *:after, *:before{
    box-sizing: border-box;
}
body {
	font-family: 'Open Sans', sans-serif;
	background: #1f1e1e;
    padding: 0;
    margin: 0;    
} 


/*NAV BAR*/
nav{
	position: relative;
	margin: 16px auto 0;
	width: 500px;
	height: 50px;
	background: #141414;
	border-radius: 8px;
	font-size: 0;
	box-shadow: 0 2px 3px 0 rgba(0,0,0,.1);
}
nav a{
	font-size: 15px;
	text-transform: uppercase;
	color: white;
	text-decoration: none;
	line-height: 50px;
	position: relative;
	z-index: 1;
	display: inline-block;
	text-align: center;
}

nav li{
	float: left;
}

nav li:hover{
	background-color: #a11401;
	border-radius: 8px;
	transition: all .5s ease 0s;
}

nav li ul{
	display: none;
}

nav img{
	width: 50px;
}

nav a:nth-child(1){
	width: 100px;
}

ul, ol{
	list-style: none;
}



/****************BANNER SECTION***************/

.banner {
    padding: 6em 0 8em 0;
    text-align: center;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

.border {
    width: 60%;
    margin: 0 auto;
    height: 47px;
    border: 2px solid #fff;
    border-bottom: 0;
}
.banner h2 {
    margin: 0;
    font-size: 3em;
    color: #FFFFFF;
    text-align: center;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 0.5em;
    padding: 0.5em 0 0 0;
}

.banner p {
    color: #FFFFFF;
    font-size: 1em;
    font-weight: bold;
    margin: 1em 0 0 0;
    line-height: 2em;
    letter-spacing: 2px;
    padding: 0 0 2em 0;
}

.border-bottom {
    border-top: 0;
    border-bottom: 2px solid #fff !important;
}





/*PROJECTS GRID*/

.misproyectos-h3{
    margin: 0;
    font-size: 2em;
    color: #FFFFFF;
    text-align: center;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 0.5em;
    padding: 0.5em 0 0 0;
}

.centrado {
    text-align: center;
}

.columna {
    display: inline-block;
    max-width: 500px;
    margin: 25px;
    vertical-align: top; /* Alinea los elementos hacia arriba */
}

.elemento {
    border: 1px solid #575757;
    border-radius: 1px;
    margin-top: 25px;
}

.elemento-img{
    width: 100%;
}

.elemento-container{
    width: 400px;
	background-color: #3b3b3b;
}

.elemento-text .divider{
    display: flex;
    align-items: center;
    justify-content: center;
}

hr.solid {
    color: #ffffff;
    width: 75%;
    margin-bottom: 5px;
    margin-top: 5px;
}

.elemento h3{
    margin-top: 5px;
    margin: 0;
    font-size: 1.5em;
    color: #FFFFFF;
    text-align: center;
    font-weight: 300;
    text-transform: uppercase;
    padding: 0.5em 0 0 0;
}

.elemento h6{
    margin: 5px;
    font-size: 1em;
    color: #FFFFFF;
    text-align: center;
    font-weight: 300;
    text-transform: uppercase;
    padding: 0.5em 0 0 0;
}

.elemento-text{
	color: white;
	margin-top: 20px;
	margin-bottom: 20px;
}

.elemento button{
    margin-top: 10px;
}

.titulo{
    font-family: "Architects Daughter", cursive;
    font-weight: 500;
    font-style: normal;
    font-size: 40px;
}

.boton {
    font-family: "Architects Daughter", cursive;
    margin-top: 20px;
    background: #9b050c;
    border: none;
    color: white;
    padding: 10px 20px;
	width: 100%;
    cursor: pointer;
    transition: background 0.3s ease;
    text-decoration: none;
    display: inline-block;
}

.boton:hover {
    background: #700208;
    opacity: 0.9;
}

.boton-mas {
    font-family: "Architects Daughter", cursive;
    background: #9b050c;
    color: white;
    padding: 10px 20px;
	width: 100%;
    cursor: pointer;
    transition: background 0.3s ease;
    text-decoration: none;
    display: inline-block;
}

.boton-mas:hover {
    background: #700208;
    opacity: 0.9;
}

.parent {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    }
    
    .div1 { grid-area: 1 / 2 / 2 / 3; }
    .div2 { grid-area: 1 / 3 / 2 / 4; }
    .div3 { grid-area: 1 / 4 / 2 / 5; }
    .div4 { grid-area: 2 / 2 / 3 / 3; }
    .div5 { grid-area: 2 / 3 / 3 / 4; }
    .div6 { grid-area: 2 / 4 / 3 / 5; }
    .div7 { grid-area: 3 / 3 / 4 / 4; }


/*********REDES***********/

.elemento-container-redes{
    width: 400px;
	background-color: #000000;
}


.elemento-redes{
    border-radius: 25px;
    margin-top: 25px;
}

.elemento-img-redes{
    width: 100%;
    margin-top: 15px;
    border-radius: 25px;
}

.elemento-text-redes{
	color: white;
}

.elemento-redes h3{
    margin-top: 5px;
    margin: 0;
    font-size: 1.5em;
    color: #FFFFFF;
    text-align: center;
    font-weight: 300;
    text-transform: uppercase;
    padding: 0.5em 0 0 0;
}

.elemento-redes h6{
    margin: 5px;
    font-size: 1em;
    color: #FFFFFF;
    text-align: center;
    font-weight: 300;
    text-transform: uppercase;
    padding: 0.5em 0 0 0;
}